google-cloud-aiplatform[adk,agent_engines]
google-adk==1.27.4
google-cloud-discoveryengine
google-cloud-firestore
google-cloud-logging
google-cloud-storage
google-cloud-secret-manager
python-dotenv
google-analytics-data
newsapi-python
weave>=0.51.0,<0.51.57
gql<4
wandb
nest-asyncio
PyPDF2
certifi
neo4j>=5.14.0
openai>=1.0.0
